
/*BackgroundImage */

.pageContainer {
    position: relative;
  }
  
  .backgroundImage {
    background-image: url('/assets/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    animation: slideAnimation 5s linear infinite; /* Adjust the animation duration as needed */
    z-index: -1; /* Move the background image below the content */
  }
  
  @keyframes slideAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  .backgroundImage::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Adjust the gradient colors and opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
  }
  
  .contentContainer {

    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    z-index: 1; 
  }
  